@import '../../../node_modules/mouse-follower/dist/mouse-follower.min.css';

.mf-cursor.-text::before,
.mf-cursor.-text.-active::before {
  opacity: 1;
  transform: scale(2);
}

@media not (hover: hover) {
  .mf-cursor {
    display: none;
  }
}

@supports (mix-blend-mode: exclusion) {
  .mf-cursor.-exclusion {
    color: white;
    mix-blend-mode: exclusion;
  }
}
